body {
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    background-color: #2a5599;
    color: #ffff;
    padding: 5px;
}

svg{
    border: 1px solid grey;
}

.legend {
    list-style: none;
    position: relative;
    top: -4em;
    left: 19em;
}

.legend li { float: left;     font-size: 20px; }

.map-container{
   display:inline-block;
}

.svgMap{
   display:inline-block;
}