body {
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    background-color: #2a5599;
    color: #ffff;
    padding: 5px;
}

svg{
    border: 1px solid grey;
}

.map-container{
   display:inline-block;
}

 p{
   margin:0;
   font-size:20px;
 } 

 .bubbleLegend circle {
  fill: none;
  stroke: #b0b0b0;
}

.bubbleLegend text {
  fill: #000000;
  font: 10px sans-serif;
  text-anchor: middle;
}