body {
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    background-color: #2a5599;
    color: #ffff;
    padding: 5px;
}

svg{
    border: 1px solid grey;
}

.map-container{
   display:inline-block;
}


.line {
  stroke-width: 3;
  fill: none;
  /* stroke:blue; */
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}


.bubbleLegend circle {
  fill: none;
  stroke: #ccc;
}

.bubbleLegend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
